<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:camel="http://camel.apache.org/schema/spring"
	xmlns:cxf="http://camel.apache.org/schema/cxf"
	xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
         http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd">

	<!-- Referencia a definiciones bean de spring DSL -->
	<import resource="bean-definitions.xml"/>
	
	<!-- Referencia a rutas principales del flujo -->
	<import resource="routes/routeBussiness.xml"/>
	<import resource="routes/routeException.xml"/>
	
	<!-- Contexto general del componente camel -->
	<camelContext id="camelContext"	xmlns="http://camel.apache.org/schema/spring" trace="false">

		<!-- Referencia a rutas principales -->
		<routeContextRef ref="routeBussiness"/>
		<routeContextRef ref="routeException"/>
		
		<onException>
			<exception>java.net.ConnectException</exception>
			<redeliveryPolicy maximumRedeliveries="1" redeliveryDelay="3000"  />
			
			<handled><simple>true</simple></handled>
			<to uri="direct:exceptionRetry"></to>
		</onException>

		<onException>
			<exception>java.lang.Exception</exception>
			<redeliveryPolicy maximumRedeliveries="1" redeliveryDelay="3000"  />
			
			<handled><simple>true</simple></handled>
			<to uri="direct:exceptionRetry"></to>
		</onException>
				

	</camelContext>

</beans>
